.App{
  display: flex;
  margin: 0;
  padding: 0;
}

.Appcontainer {
flex: 6;
  text-align: center;
  background-image: url('assets/freedom.png');
  background-size: 190vh;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
